{% extends 'bytes/base.html' %}

{% block title %}Parasha {{ parasha.transliterated_name }} {{ parasha.hebrew_name }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>Parasha {{ parasha.transliterated_name }} <span class="hebrew">{{ parasha.hebrew_name }}</span></h1>

    <h2>Words</h2>
    <ul>
        {% for word in word_set %}
            <li>
                {{ word.english_word }} &bull; <span class="hebrew">{{ word.hebrew_word }}</span> <i>{{ word.transliterated_word }}</i><br>
                {{ word.description }}<br>
                {# todo: display restricted location set #}
                {% for location in word.location.all %}
                    {{ location }},
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <h2>Readings</h2>
    <ul>
        {% for reading in parasha.reading_set.all %}
            <li>{{ reading }}</li>
       {% endfor %}
    </ul>
{% endblock content %}