{% extends 'bytes/base.html' %}

{% block title %}Parasha {{ parasha.english_name }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>Parasha {{ parasha.english_name }} <span class="hebrew">{{ parasha.hebrew_name }}</span></h1>
    <dl>
        {% for portion in parasha.portion_set.all %}
            <dt>{{ portion }}</dt>
            <dd>
                {% for word in portion.words.all %}
                    <p>
                        {{ word.english_word }}
                        (<span class="hebrew">{{ word.hebrew_word }}</span> <i>{{ word.transliterated_word }}</i>)<br>
                        {{ word.book }} {{ word.chapter }}:{{ word.verse }}<br>
                        {{ word.description }}
                    </p>
                {% endfor %}
            </dd>
        {% endfor %}
    </dl>
{% endblock content %}