{% extends 'bytes/base.html' %}

{% block title %}All Parashot :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>All Parashot</h1>
    <ul>
        {% for parasha in parashot %}
            <li>
                <a href="{% url 'bytes:parasha_detail' parasha.pk %}">{{ parasha.transliterated_name }}</a>
                <ul>
                    {% for reading in parasha.reading_set.all %}
                        <li>{{ reading }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
