{% extends 'bytes/base.html' %}

{% block title %}Edit Parasha {{ parasha.transliterated_name }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>Edit Parasha {{ parasha.transliterated_name }} <span class="hebrew">{{ parasha.hebrew_name }}</span></h1>
    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Update"></p>
    </form>
{% endblock content %}
