{% extends 'bytes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reading {{ reading.description }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>Reading {{ reading.description }} <span class="hebrew">{{ parasha.hebrew_name }}</span></h1>
    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input type="submit" value="Update"></p>
    </form>
{% endblock content %}
