{% extends 'bytes/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update {{ word }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>Update {{ word }}</h1>
    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p><input type="submit" value="Update Word"></p>

        <p><span class="hebrew">{{ word.hebrew_word }}</span> is already linked to these locations</p>
        {% for loc in word.location.all %}
            <p>{{ loc }} <button name="deletelocation" value="{{ loc.pk }}">Delete Location</button> </p>
        {% endfor %}
    </form>
{% endblock content %}
