{% extends 'bytes/base.html' %}
{% load static %}

{% block title %}{{ word }} :: Parasha Bytes{% endblock %}

{% block content %}
    <h1>{{ word.english_word }} <span class="hebrew">{{ word.hebrew_word }}</span> <i>{{ word.transliterated_word }}</i></h1>

    <p>{{ word.description }}</p>

    <ul>
        {% for location in word.location.all %}
            <li>
                <div id="loc{{ forloop.counter }}" class="location">{{ location }}</div>
                <div class="row">
                    <div id="loc{{ forloop.counter }}english" class="col-sm-6"><img src="{% static 'bytes/spin.gif' %}" alt=""></div>
                    <div id="loc{{ forloop.counter }}hebrew" class="col-md-6 hebrew"><img src="{% static 'bytes/spin.gif' %}" alt=""></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'bytes:word_edit' word.slug %}"><button class="btn-default">Edit Word</button> </a></p>
{% endblock content %}

{% block end_of_body %}
    <script>
        $(document).ready(function(){
            /*
             * fetch English and Hebrew text and insert it into the page
             */
            $('.location').each(function(){
                var location = $(this).text();
                location = location.replace(' ', '.');
                var baseid = $(this).attr('id');
                var url = '{% url 'bible:texts' 'LOCATION' %}'.replace('LOCATION', location);
                $.getJSON(url, {}, function(data){
                    $('#' + baseid + 'english').html(data.english);
                    $('#' + baseid + 'hebrew').html(data.hebrew);
                });
            });
        });
    </script>
{% endblock end_of_body %}
